---
layout: default
---

<div class="{{ page.tag }}">

  <ul class="post-list">
    {% capture category %} {{ site.categories }} {% endcapture %}
    {% for post in site.posts %}
      {% if post.categories contains page.category %}
        <li>
          <div class="item">
            <span class="post-meta">
              {{ post.date | date: "%F" }}
              <i class="icon-double-angle-right"></i>
            </span>
            
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

            <span class="tags">
              {% for tag in post.tags %}
                <span><i class="icon-tag"></i> {{ tag }}</span>
              {% endfor %}
            </span>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
